.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100vh;
  /* overflow-y: auto; */
  scroll-behavior: smooth;
}

.section {
  /* height:100%; */
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.scrollIndicator {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  animation: bounce 2s infinite;
}

.navBar {
  width: 100%;
  display: flex;
}

.main {
  max-width: 1800px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 2rem 10rem;
  min-height: 100vh;
  overflow: hidden;
  color: ghostwhite;
  /* color: #e8e8e8; */
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(25%, auto));
  max-width: 100%;
  width: var(--max-width);
}

.title {
  margin-top: 11rem;
  margin-bottom: 3rem;
  font-size: clamp(2.8rem, 5vw, 3.7rem);
  font-weight: 500;
  text-align: center;
  white-space: pre-line;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  width: auto;
  min-width: 600px;
  max-width: 1000px;
}

.desc {
  width: 85%;
  margin-top: -0.2rem;
  font-size: clamp(1.1rem, 2vw, 1.1rem);
  text-align: center;
  white-space: pre-line;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  opacity: 0.8;
  line-height: 1.5;
  overflow: hidden;
  min-width: 500px;
  max-width: 800px;
}

/* .btn {
  width: 10rem;
  height: 3rem;
  font-size: 1.1rem;
  line-height: 1.5;
  letter-spacing: 0.00938em;
  font-weight: 600;
  color: #fff;
  background: rgb(102, 190, 225, 0.8);
  border: 2px inset #3e72c65d;
  border-radius: 3rem;
  transition: background 0.3s ease, transform 0.3s ease;
  cursor: pointer;
  overflow: hidden;
} */

.cssbuttons {
  position: relative;
  font-family: inherit;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.05em;
  border-radius: 0.8em;
  cursor: pointer;
  border: none;
  background: linear-gradient(to right, #bac7d7, #f3e2d5);
  color: ghostwhite;
  overflow: hidden;
  margin-top: 5rem;
  margin-left: 0rem;
  justify-content: center;
  pointer-events: auto;
}

.cssbuttons svg {
  width: 1.2em;
  height: 1.2em;
  margin-right: 0.5em;
}

.cssbuttons span {
  position: relative;
  z-index: 10;
  transition: color 0.4s;
  display: inline-flex;
  align-items: center;
  padding: 0.8em 1.2em 0.8em 1.05em;
}

.cssbuttons::before,
.cssbuttons::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.cssbuttons::before {
  content: "";
  background: #21212196;
  width: 120%;
  left: -10%;
  transform: skew(30deg);
  transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.cssbuttons:hover::before {
  transform: translate3d(100%, 0, 0);
}

.cssbuttons:active {
  transform: scale(0.95);
}

/* .navbuttons {
  position: relative;
  background-color: #1f2937;
  height: 4rem;
  width: 16rem;
  border: 1px solid transparent;
  text-align: left;
  padding: 0.75rem;
  color: #f9fafb;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 0.5rem;
  overflow: hidden;
  transition: all 0.5s;
}

.navbuttons::before,
.navbuttons::after {
  content: '';
  position: absolute;
  z-index: 10;
  border-radius: 50%;
  transition: all 0.5s;
}

.navbuttons::before {
  width: 3rem;
  height: 3rem;
  background-color: #8b5cf6;
  right: 0.25rem;
  top: 0.25rem;
  filter: blur(8px);
}

.navbuttons::after {
  width: 5rem;
  height: 5rem;
  background-color: #f43f5e;
  right: 2rem;
  top: 0.75rem;
  filter: blur(8px);
}

.navbuttons:hover {
  border-color: #f43f5e;
  text-decoration: underline;
  text-underline-offset: 0.5rem;
  text-decoration-thickness: 2px;
  color: #f43f5e;
}

.navbuttons:hover::before {
  box-shadow: 20px 20px 20px 30px #a21caf;
  right: 3rem;
  bottom: -2rem;
}

.navbuttons:hover::after {
  right: -2rem;
} */

.navbuttons {
  width: 9rem;
  height: 2.8em;
  margin-top: 1em;
  border-radius: 50px;
  cursor: pointer;
  border: 0;
  /* background: linear-gradient(43deg, #83A5D5, #ebd2c5); */
  /* background-color: #ebd2c567; */
  background-color: #83a5d582;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all 0.5s ease;
  color: #ffffff;
}

.navbuttons:hover {
  letter-spacing: 1px;
  background-color: #ebd2c567;
  color: #ffffff;
  box-shadow: rgba(93, 122, 185, 0.796) 0px 7px 29px 0px;
}

.navbuttons:active {
  letter-spacing: 1px;
  background-color: #83a5d582;
  color: #ffffff;
  box-shadow: rgba(11, 39, 122, 0.619) 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;
}

@media (max-width: 1000px) {
  .navbuttons {
    display: none;
  }
}

.button {
  opacity: 0;
  transform: translateY(20px); /* 初始位置稍微向下 */
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.buttonVisible {
  opacity: 1;
  transform: translateY(0); /* 移动到最终位置 */
}

/* .button {
  padding: 17px 40px;
  border-radius: 50px;
  cursor: pointer;
  border: 0;
  background-color: #168dd24d;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #fff;
  font-size: 15px;
  transition: all 0.5s ease;
}

.button:hover {
  letter-spacing: 3px;
  background-color: hsla(216, 80%, 39%, 0.394);
  color: hsl(0, 0%, 100%);
  box-shadow: rgba(18, 87, 205, 0.482) 0px 7px 29px 0px;
}

.button:active {
  letter-spacing: 3px;
  background-color: hsla(220, 68%, 50%, 0.794);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(22, 6, 104) 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;
} */

.statsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 0rem;
  width: 100%;
  width: fit-content;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  grid-auto-flow: row;
  max-width: 850px;
  margin-top: 4.5rem;
}

/* 在窄屏上应用特定的行高 */
@media (max-width: 1100px) {
  .title {
    min-width: 380px;
    margin-top: 8rem;
    font-size: 2.6rem;
  }
  .desc {
    min-width: 380px;
  }
  .statsGrid {
    grid-template-columns: repeat(1, 260px);
    grid-template-rows: repeat(3, 100px); /* 仅在窄屏上应用 */
  }
  .cssbuttons {
    min-width: 180px;
  }
}

.menuContainer {
  display: flex;
}

@media (max-width: 1000px) {
  .menuContainer {
    display: none; /* 在窄屏时隐藏菜单 */
  }
}

.toggleButtonContainer {
  display: none; /* 默认隐藏 */
}

@media (max-width: 1000px) {
  .toggleButtonContainer {
    display: block; /* 在窄屏时显示 */
  }
}
