.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(27, 27, 29);
  background-image: url('/background.png'); /* 添加背景图像 */
  background-size: 200% 300%; /* 使背景图像覆盖整个区域 */
  background-position: center; /* 将背景图像居中 */
  background-repeat: no-repeat; /* 不重复背景图像 */
  height: 100vh;
  overflow: hidden;
}

.navBar {
  width: 100%;
  display: flex;
}

.main {
  max-width: 1800px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 3rem 15rem;
  min-height: 100vh;
  overflow: hidden;
  color: #fff;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(25%, auto));
  max-width: 100%;
  width: var(--max-width);
}

.title {
  margin-top: 3.5rem;
  margin-bottom: 3rem;
  font-size: clamp(3rem, 5vw, 3.7rem);
  font-weight: 500;
  text-align: center;
  white-space: pre-line;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  width: auto;
  min-width: 300px;
}

.desc {
  width: 85%;
  margin-top: 0rem;
  font-size: clamp(0.9rem, 2vw, 1.1rem);
  text-align: center;
  opacity: 0.8;
  line-height: 1.5;
  overflow: hidden;
}

/* .btn {
  width: 10rem;
  height: 3rem;
  font-size: 1.1rem;
  line-height: 1.5;
  letter-spacing: 0.00938em;
  font-weight: 600;
  color: #fff;
  background: rgb(102, 190, 225, 0.8);
  border: 2px inset #3e72c65d;
  border-radius: 3rem;
  transition: background 0.3s ease, transform 0.3s ease;
  cursor: pointer;
  overflow: hidden;
} */

.cssbuttons {
  position: relative;
  font-family: inherit;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.05em;
  border-radius: 0.8em;
  cursor: pointer;
  border: none;
  background: linear-gradient(to right, #bac7d7, #f3e2d5);
  color: ghostwhite;
  overflow: hidden;
}

.cssbuttons svg {
  width: 1.2em;
  height: 1.2em;
  margin-right: 0.5em;
}

.cssbuttons span {
  position: relative;
  z-index: 10;
  transition: color 0.4s;
  display: inline-flex;
  align-items: center;
  padding: 0.8em 1.2em 0.8em 1.05em;
}

.cssbuttons::before,
.cssbuttons::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.cssbuttons::before {
  content: "";
  background: #21212196;
  width: 120%;
  left: -10%;
  transform: skew(30deg);
  transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.cssbuttons:hover::before {
  transform: translate3d(100%, 0, 0);
}

.cssbuttons:active {
  transform: scale(0.95);
}

/* .button {
  padding: 17px 40px;
  border-radius: 50px;
  cursor: pointer;
  border: 0;
  background-color: #168dd24d;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #fff;
  font-size: 15px;
  transition: all 0.5s ease;
}

.button:hover {
  letter-spacing: 3px;
  background-color: hsla(216, 80%, 39%, 0.394);
  color: hsl(0, 0%, 100%);
  box-shadow: rgba(18, 87, 205, 0.482) 0px 7px 29px 0px;
}

.button:active {
  letter-spacing: 3px;
  background-color: hsla(220, 68%, 50%, 0.794);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(22, 6, 104) 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;
} */

.statsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
  width: 100%;
  max-width: 1000px;
  margin: 2rem 0 4rem 0;
  /* gap: 2 rem; */
}
