.main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 5rem 15rem;
  min-height: 100vh;
  width: 100%;
  color: #fff;
  background: rgb(27, 27, 29);
  background-image: url('/background.png'); /* 添加背景图像 */
  background-size: 200% 300%; /* 使背景图像覆盖整个区域 */
  background-position: center; /* 将背景图像居中 */
  background-repeat: no-repeat; /* 不重复背景图像 */
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(25%, auto));
  max-width: 100%;
  width: var(--max-width);
}
.title {
  margin-top: 4.5rem;
  font-size: 3.7rem;
  font-weight: 500;
  text-align: center;
}

.desc {
  width: 85%;
  margin-top: -3.5rem;
  font-size: 1.1rem;
  text-align: center;
  opacity: 0.8;
  line-height: 1.5;
}

.btn {
  width: 10rem;
  height: 3rem;
  font-size: 1.1rem;
  line-height: 1.5;
  letter-spacing: 0.00938em;
  font-weight: 600;
  color: #eeeeee;
  background: -webkit-linear-gradient(
    315deg,
    rgb(135, 206, 235) 15%,
    rgb(100, 126, 255)
  );
  border-radius: 3rem;
}
