.codeCompareContainer {
  padding: 0.8rem;
  border: 1px solid #4d4d4d77;
  border-radius: 1.5rem;
  background-color: #4d4d4d77;
  color: rgb(255, 255, 255);
}

.darkMode {
  background-color: rgb(17, 24, 39);
  border-color: rgb(31, 41, 55);
}